a {
  color: black;
  font-size: 15px;
  margin-right: 20px;
  text-decoration: none;
  display: inline-block;
  line-height: 24px;
}
.icon {
  width: 30px;
  padding: 2px;
  margin: auto 6px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.header {
  margin-right: 20px;
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: flex;
}
.sign-in-button {
  color: white;
  background-color: #1a73e8;
  border-radius: 3px;
  border: 1px transparent;
  width: 70px;
  height: 30px;
}
.logo {
  width: 300px;
  padding-top: 100px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.boxContainer {
  margin: auto;
  margin-top: 10px;
  position: relative;
  width: 480px;
  height: 42px;
  border: 1px solid rgb(182, 181, 181);
  opacity: 0.9;
  padding: 0px 10px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.elementsContainer {
  width: 480px;
  height: 100%;
  vertical-align: middle;
  background-color: white;
  border-radius: 50px;
}
.search {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  border-radius: 50px;
  font-size: 18px;
  font-family: "Nunito";
  font-weight: 500;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  position: relative;
}
.search:focus {
  outline: none;
}
.fa-solid {
  font-size: 18px;
  color: rgba(175, 175, 175, 0.582) transparent;
  opacity: 0.5;
}
.sound {
  width: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  float: right;
}
.buton {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  margin: auto 50px;
  padding-top: 30px;
}

.search-button {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: 1px #f2f2f2;
  color: #5f6368;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.lucky-button {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: 1px #f2f2f2;
  color: #5f6368;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.footer {
  position: fixed;
  background-color: #f2f2f2;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-top: 200px;
  text-decoration: none;
  display: inline;
  line-height: 24px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #797b7e;
  opacity: 0.6;
  height: 50px;
}
.footer-left-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  float: left;
}
.footer-right-list {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  float: right;
}
